In [1]:
thislist=["apple","banana","cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [2]:
thislist=["apple","banana","cherry"]
print(len(thislist))

3

In [3]:
thislist=["apple","banana","cherry"]
print(thislist[1])

banana

In [4]:
thislist=["apple","banana","cherry"]
print(type(thislist))

<class 'list'>

In [5]:
thislist=["apple","banana","cherry","orange","kiwi","melon","mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [7]:
thislist=["apple","banana","cherry"]
if "apple" in thislist:
 print("yes")

yes

In [8]:
thislist=["apple","banana","cherry"]
thislist[1]="blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [9]:
thislist=["apple","banana","cherry"]
tropical=["mango","pineapple"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple']

In [10]:
thislist=["apple","banana","cherry"]
thislist.insert(2,"watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [11]:
thislist=["apple","banana","cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [12]:
thislist=["apple","banana","cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [13]:
thislist=["orange","mango","kiwi","pineapple","banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [14]:
thistuple=("apple","banana","cherry")
print(len(thistuple))

3

In [15]:
thistuple=("apple","banana","cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [16]:
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.append("orange")
thistuple=tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [17]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [18]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [19]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [20]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [21]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [23]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [24]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [25]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'banana', 'apple', 'cherry'}

In [26]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [27]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
cherry
banana

In [28]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

In [29]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [30]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 'c', 2, 'a', 3, 'b'}

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [33]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [34]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.keys()
print(x)
car["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [35]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.values()
print(x) 
car["year"] = 2020
print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [36]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items()
print(x)
car["year"] = 2020
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [38]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [39]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [40]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [42]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
} 
print(myfamily["child2"]["name"])

Tobias